
    html {
    box-sizing: border-box;
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    }
    *,*:before ,*:after{
    box-sizing: inherit;
    }
    body{
    width: 100%;
    padding : 10px;
    }
    h2, h4, p {
    margin: 0;
    }
    #card {
    width: 100px;
    height: auto;
    box-shadow:10px 10px 20px -6px rgba(0, 0, 0, 0.24);
    border-radius: 6px;       
    overflow: hidden; 
    margin: 0 auto;
    }

    #top-section {
    width: 100%;
    height: 45%;
    padding: 30px;
    background-color: whitesmoke;
    }

    #bottom-section {
    width: 100%;
    height: 55%;
    color: white;
    }

    #bottom-left {
    display:inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    background-color: #2ab2af;
    padding: 30px;
    }

    #bottom-right {
    display:inline-block;            
    width: 100%;
    height: 100%;
    vertical-align: top;
    background-color: #22C7C3;
    padding: 30px;
    }

    #top-section h4{
    color:#c0df34;
    padding-bottom: 10px;
    }
    #top-section h2{
    color: #2ab2af;
    padding-bottom: 15px;

    }
    #top-section p{
    color: #98a6bd;
    }
    #price-container {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 10px;

    }
    #price {
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    }
    #per {
    display: inline-block;
    margin-left: 5px;
    /* vertical-align:text-top; */
    font-size: 0.85rem;
    position: relative;
    top: -2px;
    left: 2px;
    opacity: 0.7;
    margin-bottom: 10px;

    }
    #butt {
        width: 100%;
        text-align: left;
     
    }
    button {
    color : white;
    background-color: #c0df34;
    padding: 10px;
    width: 100%;
    height: 45px;
    text-align: center;
    border: none;
    margin-top: 35px;
    border-radius: 4px;
    box-shadow:10px 10px 20px -10px rgba(0, 0, 0, 0.24);
    }
    button:hover {
    cursor: pointer;
    background-color: #a9c42d;
    transform: scale(1.03);
    }

    ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 20px;
    line-height: 22px;
    }
    li {
    opacity: 0.8;
    font-size: 0.8rem;
    }

    .attribution {
        box-sizing: border-box;
        text-align: center;
        width: 300px;
        padding: 10px;
        margin: 0 auto;
    }

    @media (min-width:100px) {
        #card {
            width:100%;
        }
        body {
            margin: 0;
            padding: 5%;
        }
        .attribution {
            width: 100%;
        }
    }
    @media (min-width: 580px) {
        html {
            font-size: 20px;
        }
        #card {
            width: 100%;
            height: 27rem;
        }
        body {
            padding: 1.5rem;
        }
        #bottom-left, #bottom-right {
            width: 50%;
            height: 100%;
        }
        .attribution {
            width: 100%;
        }
    }
    @media (min-width: 1000px) {
        html {
            font-size: 20px;
        }
        #card {
            width: 900px;
            height: 500px;
        }
        body {
            padding: 2rem;
        }
        #bottom-left, #bottom-right {
            width: 50%;
            height: 100%;
        }
        .attribution {
            width: 900px;
        }
    }
